.App {
  text-align: center;
  font-family: 'Architects Daughter', cursive;

}
ul {
  display:flex;
  flex-direction:column;
  justify-content:center;
  margin: auto;
  align-items: center;
}
li {
  font-size:1.1rem;
  width:60%;
  display:flex;
  justify-content:space-between;
  list-style: none;
  margin: 1.2rem;
  border: 0.5rem solid #551a8b;
  padding: 1.2rem;
}
.title{
  font-size: 1.3rem;
  font-weight: bold;
}
